.navbar{
    padding: 8px 0;
}

.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
    text-align: right;
}
.navbar__contacts{
    display: flex;
    flex-direction: column;
    
}
.navbar__button{
    margin-left: 30px;
}
.navbar__phone{
    display: inline-block;
    color:#333333;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
}
@media (max-width: 768px){
    .navbar__contacts{
     display: none;
    }
    .navbar__button{
        font-size: 12px;
        padding: 15px 26px;
    }
    .navbar__logo{
        width: 90px;
    }
}
