@font-face {
    font-family: 'Gotham Pro Light';
    src: url('fonts/GothamPro/GothamPro-Light.eot');
    src: url('fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro/GothamPro-Light.woff') format('woff'),
    url('fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    h1{
        font-family:'Gotham Pro Light' , sans-serif ;
    }